<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  Федиральная таможенная служба.
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
</head>
<body>
  <div class="list">
    <h2 class="tit">
      ПРИ ВЬЕЗДЕ В РОССИЮ ОБЯЗАТЕЛЬНО ДЕКЛАРИРОВАТЬ
    </h2>
    <ul>
      <li>Товары для личного пользования не превышающие 10000 ервро и весом не более 10 кг</li>
      <li>Наличные денежные средства и дорожные чеки в сумме, превышающей в эквиваленте 10000 долларов</li>
      <li>Денежные средства: векселя, банковские чеки, ценные бумаги.</li>
      <li>Лекарственные препарарты содержащие наркотические вещества.</li>
      <li>Алкогольные напитки и пиво от 3 до 5 литров</li>
    </ul>
    <hr>
</div>
<div class="list">
  <h2 class="tit">
    ПРИ ВЫЕЗДЕ ИЗ РОССИИ ОБЯЗАТЕЛЬНО ДЕКЛАРИРОВАТЬ
  </h2>
  <ul>
    <li>Товары для личного пользования не превышающие 10000 ервро и весом не более 10 кг</li>
    <li>Наличные денежные средства и дорожные чеки в сумме, превышающей в эквиваленте 10000 долларов</li>
    <li>Денежные средства: векселя, банковские чеки, ценные бумаги.</li>
    <li>Лекарственные препарарты содержащие наркотические вещества.</li>
    <li>Алкогольные напитки и пиво от 3 до 5 литров</li>
  </ul>
  <hr>
</div>
<div class="list">
  <h2 class="tit">
    Для составления заявки:
  </h2>
  <ul>
    <li>Указать ВЫЕЗД или ВЬЕЗД в страну. </li>
    <li>Вид товара</li>
    <li>Стоимость товара</li>
    <li>Вес или колличество</li>
    <li>А так же указать указать кем вы являетесь(ФЛ,ЮЛ)</li>
  </ul>
  <hr>
</div>

</body>
</html>