<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  Федиральная таможенная служба.
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
</head>
<body>
    <p>
        Согласно ст. 260 ТК ЕАЭС транспортные средства для личного пользования (за исключением ТС, зарегистрированных в странах ЕАЭС), перемещаемые через таможенную границу ЕАЭС любым способом, для целей выпуска в свободное обращение подлежат таможенному декларированию.
        Таможенное декларирование товаров для личного пользования, производится с использованием пассажирской таможенной декларации (ПТД).
    </p>
    <div class="list">
        <h2 class="tit">
            Подача ПТД сопровождается представлением таможенному органу документов, подтверждающих заявленные в ней сведения. Согласно ст. 261 ТК ЕАЭС, к таким документам относятся в том числе:
        </h2>
        <ul>
          <li>документы, удостоверяющие личность;</li>
          <li>документы, содержащие сведения, позволяющие идентифицировать транспортное средство для личного пользования;</li>
          <li>документы, подтверждающие право владения, пользования и (или) распоряжения транспортным средством личного пользования.</li>
        </ul>
        <hr>
    </div>
    <div class="list">
        <h2 class="tit">
          Для составления заявки:
        </h2>
        <ul>
          <li>Указать ВЫЕЗД или ВЬЕЗД в страну. </li>
          <li>Вид товара</li>
          <li>Стоимость товара</li>
          <li>Вес или колличество</li>
          <li>А так же указать указать кем вы являетесь(ФЛ,ЮЛ)</li>
        </ul>
        <hr>
      </div>
</body>
</html>