{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
<div>
<div class="box">
  <form name="search" method = "get" enctype="multipart/form-data">
    {% csrf_token %}
      <input type="text" class="input" name="text" onmouseout="this.value = ''; this.blur();">
  </form>
  <i class="fas fa-search"></i>
  
  <a href="{% url 'basic_url' %}" class="buy-button">Отмена</a>

</div>
<!--
<div class = "flex-container">
<form method="get" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="text" type="text"><br><br>
    <input type="submit" value="Submit" >
</form>
-->
<!-- 
<form  method = "get" enctype = "multipart/form-data" class = "checkbox-container">
    {% csrf_token %}
    <h4>Фильтрация</h4>
    <label for="filter-a">Арифметический:</label>
    <input type="checkbox" name="check[]" value="arifm">
    <label for="filter-b">Логический:</label>
    <input type="checkbox" name="check[]" value="logic">
    <input type="submit" value="Ok" >
    -->
  
  <!--<a href="{% url 'basic_url' %}" class="buy-button">Отмена</a>
</div>-->

<ul class="card-grid">
  <div class="container">
    {% for order in data.orders %}
    {% if forloop.counter0|divisibleby:3%}
        <div class="row">
      {% endif %}
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src={{order.img}}>
                  <h3>{{order.title}}</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                      <a href="{% url 'order_url' order.id %}">Подробнее</a>
              </div>
          </div>
      </div> 
      {% if forloop.counter|divisibleby:3 or forloop.last %}
        </div>
      {% endif %}
    {% empty %}
      <li>Список пуст</li>
      {% endfor %}
  </div>
</ul>
  
</div>

<!--
<ul class="card-grid">
    {% for order in data.orders %}
      {% if forloop.counter0|divisibleby:4%}
        <div class="row">
      {% endif %}
      <div class="card">
        <img src={{order.img}} alt="Product Image">
        <h2 class="title">{{order.title}}</h2>
        <p class="description">Тип операции:{{order.type}}</p>
        <a href="{% url 'order_url' order.id %}" class="buy-button">Подробнее</a>
      </div>
      {% if forloop.counter|divisibleby:4 or forloop.last %}
        </div>
      {% endif %}
    {% empty %}
      <li>Список пуст</li>
    {% endfor %}
  </ul>
 --> 

{% endblock %}