<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  Федиральная таможенная служба.
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
</head>
<body>
    <p>
        Перемещение культурных ценностей физическими лицами через таможенную границу
        Перечень культурных ценностей, документов национальных архивных фондов и оригиналов архивных документов, подлежащих контролю при перемещении через таможенную границу Российской Федерации, определен разделом 2.20 Единого перечня товаров, к которым применяются запреты или ограничения на ввоз или вывоз государствами – членами ЕАЭС в торговле с третьими странами (далее – Единый перечень), утвержденного Решением Коллегии Евразийской экономической комиссии от 21 апреля 2015 года № 30.
    </p>
    <div class="list">
        <h2 class="tit">
          К такой категории предметов относятся:
        </h2>
        <ul>
          <li>Культурные ценности, включенные в состав музейного, архивного и библиотечных фондов государств - членов Евразийского экономического союза</li>
          <li>Предметы и коллекции, имеющие историческую научную, художественную или иную культурную ценность, связанные со знаменательными событиями в жизни народов, развитием общества и государства, с историей науки и техники:</li>
          <li>Мемориальные предметы, относящиеся к жизни выдающихся политических, государственных деятелей, национальных героев, деятелей науки, литературы и искусства, независимо от времени их создания;</li>
          <li>Предметы и коллекции обмундирования и снаряжения, военного, производственного и иного назначения, созданные 100 лет назад и более, а также огнестрельное оружие, изготовленное в период 1900 - 1945 года, и холодное оружие, изготовленное 50 лет назад и более;</li>
          <li>Антикварное оружие (огнестрельное, метательное и пневматическое оружие, изготовленное до конца 1899 года за исключением огнестрельного оружия, изготовленного для стрельбы унитарными патронами центрального боя), а также холодное оружие, изготовленное до конца 1945 года</li>
          <li>Предметы техники, приборы, инструменты, аппаратура, оборудование военного, научного, производственного и бытового назначения, созданные 100 лет назад и более;</li>
          <li>Транспортные средства, произведенные до 1 января 1951 г. включительно</li>
          <li>Предметы и их фрагменты, полученные в результате археологических раскопок (как санкционированных, так и несанкционированных) и археологических открытий независимо от времени их выявления.</li>
          <li>Художественные ценности за исключением созданных менее 50 лет назад живописных, скульптурных и графических работ, предметов декоративно-прикладного искусства и отправления религиозных культов различных конфессий, дизайнерских проектов, инсталляций сувенирных изделий, предметов детского творчества, а также предметов быта независимо от времени их создания:</li>
          <li>Произведения живописи, скульптуры;</li>
          <li>Произведения графики и оригинальные графические печатные формы;</li>
        </ul>
        <hr>
    </div>
    <div class="list">
        <h2 class="tit">
          Для составления заявки:
        </h2>
        <ul>
          <li>Указать ВЫЕЗД или ВЬЕЗД в страну. </li>
          <li>Вид товара</li>
          <li>Стоимость товара</li>
          <li>Вес или колличество</li>
          <li>А так же указать указать кем вы являетесь(ФЛ,ЮЛ)</li>
        </ul>
        <hr>
      </div>
</body>
</html>